.orbitron-font {
  font-family: "Orbitron", sans-serif;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.poppins-font {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

p,
h1,
h2,
a {
  color: white;
}

/* CUSTOM */
#statsheader {
  display: flex;
  flex-direction: column;
  width: 160px;
  height: 600px;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  #statsheader {
    flex-direction: row;
    width: 100%;
    height: auto;
  }
}

.accordion-content {
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
}

/* ===== SERVICES ACCORDION STYLES ===== */

.services-accordion-item {
  background-color: #2c2c2c;
  padding: 1rem;
  width: 100%;
  border-radius: 0.75rem;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .services-accordion-item {
    padding: 1.25rem;
  }
}

.services-accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services-accordion-left {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.services-accordion-number {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.25rem;
  color: #6b7280; /* gray-500 */
  transition: color 0.3s ease;
}

@media (min-width: 1024px) {
  .services-accordion-number {
    font-size: 3rem;
  }
}

.services-accordion-number.active {
  color: #ef815e;
}

.services-accordion-title {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.25;
  font-size: 0.875rem;
  color: #6b7280; /* gray-500 */
  transition: color 0.3s ease;
}

@media (min-width: 1024px) {
  .services-accordion-title {
    font-size: 1rem;
  }
}

.services-accordion-title.active {
  color: #ef815e;
}

.services-accordion-icon {
  width: 1.5rem;
  margin-right: 0.5rem;
  transition: all 0.3s ease;
  color: #6b7280; /* gray-500 */
  transform: rotate(180deg);
}

@media (min-width: 1024px) {
  .services-accordion-icon {
    width: 2rem;
    margin-right: 1.25rem;
  }
}

.services-accordion-icon.active {
  color: #ef815e;
  transform: rotate(0deg);
}

.services-accordion-content {
  overflow: hidden;
  transition: max-height 0.3s ease;
  max-height: 0;
}

.services-accordion-content.open {
  max-height: 500px;
}

.services-accordion-content p {
  font-family: "Montserrat", sans-serif;
  margin-top: 1.25rem;
  text-align: justify;
  font-size: 0.875rem;
  color: white;
}
